#{extends 'main.html' /} #{set title:'Formulário Site'/}
<meta charset="utf-8">

<div class="content">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title" align="center">Cadastro de Sites</h4>
		</div>
		<div class="card-body">
			<form action="@{Sites.salvar}" method="post">
				<input type="hidden" name="site.id" value="${site?.id}">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Nome</label> <input name="site.nome" value="${site?.nome}"
								type="text" class="form-control" placeholder="Nome"> 
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label>Domínio</label> <input name="site.dominio"
								value="${site?.dominio}" type="text" class="form-control"
								placeholder="www.site.com.br">
						</div>
					</div>
					<div class="col">
						<button type="submit" class="btn btn-primary btn-round">Cadastrar</button>
					</div>
			</form>
		</div>
	</div>
</div>