#{extends 'main.html' /} #{set title:'Cadastro de Computadores'/}
<meta charset="utf-8">

<div class="content">
	<div class="card card-user">
		<div class="card-header">
			<h5 class="card-title" align="center">Cadastro de Computadores</h5>
		</div>
		<div class="card-body">
			<form action="@{Computadores.salvar}" method="post">
			<input type="hidden" name="computador.id" value="${computador?.id}">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label>Nome</label> <input name="computador.name" value="${computador?.name}" type="text"
								class="form-control" placeholder="Nome" required="required">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label>IP</label> <input id="ip" name="computador.ip" value="${computador?.ip}" type="text"
								class="form-control" placeholder="IP" required="required">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="exampleInputEmail1">MAC</label> <input id="mac"
								name="computador.mac" value="${computador?.mac}" type="text" class="form-control"
								placeholder="MAC" required="required">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">NÚMERO DE IDENTIFICAÇÃO</label> <input
								name="computador.num" value="${computador?.num}" type="number" class="form-control"
								required="required">
						</div>
					</div>
				</div>

				<div class="update ml-auto mr-auto">
					<a href="@{Computadores.form}">
						<button type="submit" class="btn btn-primary btn-round">Cadastrar</button>
					</a> 
				</div>
			</form>
		</div>
	</div>
</div>