#{extends 'main.html' /} #{set title:'Detalhe de Laboratório'/}
<meta charset="utf-8">

<div class="content">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-7">
					<h4 class="card-title">Detalhe do ${laboratorio.nome}</h4>
				</div>
				<div class="col-md-4" align="right">
				<a class="btn btn-round-sm btn 
								   #{if laboratorio.ligado} btn-success
								   #{/if}#{else}btn-default#{/else}" 
									href="@{Sshs.ligarOuDesligarLab(laboratorio.id)}"
									title="Habilitar/desabilitar rede de laboratório">
								<i class="glyphicon glyphicon-globe"></i> </a> 
				<a class="btn btn-round-sm btn btn-default"
								href="@{Laboratorios.detalharSites(laboratorio.id)}"
								title="Detalhar sites de laboratório"> <i
									class="glyphicon glyphicon-menu-hamburger"></i>
							</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<label>NOME:</label> <label>${laboratorio.nome}</label> <br> <label>HOSTMANE:</label>
			<label>${laboratorio.ip}</label> <br> <label>DESCRIÇÃO:</label>
			<label>${laboratorio.descricao}</label> <br> <br>
			
			<h6 align="center">Computadores Cadastrados</h6>
			#{if flash.error}
				<div class="alert alert-danger">
					<p align="center">${flash.error.raw()}</p>
				</div>
			#{/if}	
			#{if mensagem != null && mensagem != ""}
				<div class="alert alert-success" align="center">
					<p>${mensagem}</p>
				</div>
			#{/if}
			<div class="text-center">
				<table class="table">
					<br>					
					<thead class=" text-primary">
						<th>Número</th>
						<th>Nome</th>
						<th>IP</th>
						<th>MAC</th>
						<th>Ações</th>
					</thead>
					
					<tbody>	
					#{list items:laboratorio.computadores, as: 'computador'}					
						<tr>
							<td>${computador.num}</td>
							<td>${computador.name}</td>
							<td>${computador.ip}</td>
							<td>${computador.mac}</td>
							<td><a class="btn btn-round-sm btn 
										  #{if computador.ligado} btn-success
										  #{/if}#{else}btn-default#{/else}" 
								   		  href="@{Sshs.ligarOuDesligarComp(laboratorio.id, computador.id)}"
								   		  title="Habilitar/desabilitar rede de computador">
									<i class="glyphicon glyphicon-globe"></i>
							</a> <a class="btn btn-round-sm btn-primary"
								href="@{Computadores.editar(computador.id)}" 
								title="Editar Computador"> <i
									class="glyphicon glyphicon-edit"></i>
							</a> <a class="btn btn-round-sm btn-danger"
								href="@{Computadores.remover(computador.id)}"
								title="Remover computador"> <i
									class="glyphicon glyphicon-trash"></i>
							</a> </td>
						</tr>
						#{/list} #{else}
							<div class="alert alert-info" align="center"> Nenhum computador cadastrado </div>
						#{/else}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			<h4 class="card-title" align="center">Cadastro de Computadores</h4>
		</div>
		<div class="card-body">
			<form action="@{Computadores.salvar}" method="post">
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label for="exampleInputEmail1">NÚMERO</label> <input
								name="computador.num" type="number" class="form-control"
								required="required">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Nome</label> <input name="computador.name" type="text"
								class="form-control" placeholder="Nome"> <input
								type="hidden" name="computador.laboratorio.id"
								value="${laboratorio.id}"> <input type="hidden"
								>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>IP</label> <input name="computador.ip" type="text"
								class="form-control" placeholder="IP">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">MAC</label> <input
								name="computador.mac" type="text" class="form-control"
								placeholder="MAC">
						</div>
					</div>
				</div>
				<div class="update ml-auto mr-auto">
					<a href="@{Computadores.form}">
						<button type="submit" class="btn btn-primary btn-round">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>
</div>
