#{extends 'main.html' /} #{set title:'Detalhe de Sites'/}
<meta charset="utf-8">

<div class="content">
	<div class="card">
		<div class="card-header">
					<h4 class="card-title" align="center">Lista de Sites  —  ${laboratorio.descricao}</h4>
		</div>
		<div class="card-body">
			#{if mensagem != null && mensagem != ""}
				<div class="alert alert-success" align="center">
					<p>${mensagem}</p>
				</div>
			#{/if}	
			#{if flash.error}
				<div class="alert alert-danger">
					<p align="center">${flash.error.raw()}</p>
				</div>
			#{/if}		
			<div class="text-center">
				<table class="table">
					<br>					
					<thead class=" text-primary">
						<th>Nome</th>
						<th>Domínio</th>
					</thead>
					
					<tbody>
						#{list items:sites, as: 'site'}
						<tr>
							<td>${site.nome}</td>
							<td>${site.dominio}</td>
							<td><a class="btn btn-round-sm btn 
										  #{if site.habilitado} btn-success
										  #{/if}#{else}btn-default#{/else}" 
								   		  href="@{Sshs.habilitarOuDesabilitarSite(laboratorio.id, site.id)}"
								   		  title="Habilitar/desabilitar site de laboratório">
									<i class="glyphicon glyphicon-globe"></i>
							</a> <a class="btn btn-round-sm btn-primary"
								href="@{Sites.editar(site.id, laboratorio.id)}"
								title="Editar site"> <i
									class="glyphicon glyphicon-edit"></i>
							</a> <a class="btn btn-round-sm btn-danger"
								href="@{Sites.remover(site.id, laboratorio.id)}"
								title="Remover site"> <i
									class="glyphicon glyphicon-trash"></i>
							</a></td>
						</tr>
						#{/list} #{else}
							<div class="alert alert-info"> Nenhum Site cadastrado </div>
						#{/else}
					</tbody>
				</table>
			</div>
		</div>
	</div>
		
	<div class="card">
		<div class="card-header">
			<h4 class="card-title" align="center">Cadastro de Sites</h4>
		</div>
		<div class="card-body">
			<form action="@{Sites.salvar}" method="post">
			<input type="hidden" name="site.laboratorio.id" value="${laboratorio.id}">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Nome</label> <input name="site.nome" type="text"
								class="form-control" placeholder="Nome">  
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label>Domínio</label> <input name="site.dominio" type="text"
								class="form-control" placeholder="www.site.com.br">
						</div>
					</div>
				<div class="col">
						<button type="submit" class="btn btn-primary btn-round">Cadastrar</button>
			</form>
		</div>
	</div>
</div>
