#{extends 'main.html' /} #{set title:'Cadastro de Laboratório'/}
<meta charset="utf-8">

<div class="content">
	<div class="card card-user">
		<div class="card-header">
			<h5 class="card-title" align="center">Cadastro de Laboratório</h5>
		</div>
		<div class="card-body">
			<form action="@{Laboratorios.salvar}" method="post">
			<input type="hidden" name="laboratorio.id" value="${laboratorio?.id}">
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label>Número de Identificação</label> <input name="laboratorio.nome" type="text"
								value="${laboratorio?.nome}" class="form-control" placeholder="Nome" required="required">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="exampleInputEmail1">Hostname</label> <input
								name="laboratorio.ip" value="${laboratorio?.ip}" type="text" class="form-control"
								placeholder="IP" required="required">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label>Senha</label> <input name="laboratorio.password" type="password"
								class="form-control" required="required">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label>Descrição</label>
						<textarea name="laboratorio.descricao" value="${laboratorio?.descricao}"
							class="form-control textarea" required="required"> </textarea>
					</div>
				</div>

				<div class="update ml-auto mr-auto">
					<a href="@{Laboratorios.form}">
						<button type="submit" class="btn btn-primary btn-round">Cadastrar</button>
					</a> <a href="@{Laboratorios.listar}">
						<button type="submit" class="btn btn-primary btn-round">Listar</button>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>