#{extends 'main.html' /} #{set title:'Listagem de Computadores'/}
<meta charset="utf-8">

<div class="content">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">Lista de Computadores</h4>
		</div>
		<div class="card-body">
			<div class="text-center">
				<table class="table">
					<thead class=" text-primary">
						<th>Número</th>
						<th>Nome</th>
						<th>IP</th>
						<th>MAC</th>
						<th>Lab</th>
						<th>Ações</th>
					</thead>

					<tbody>
						#{list items:computadores, as:'computador'}
						<tr>
							<td>${computador.num}</td>
							<td>${computador.name}</td>
							<td>${computador.ip}</a>
							</td>
							<td>${computador.mac}</a>
							</td>
							<td>${computador.laboratorio?.nome}</a>
							</td>

							<td>
							<a class="btn btn-round-sm btn #{if computador.ligado} btn-success #{/if}
															#{else} btn-default #{/else}"
								href="@{Sshs.ligarOuDesligarComp(laboratorio.id, computador.id)}"> 
															
								<i class="glyphicon glyphicon-globe"></i></a>
							<a class="btn btn-round-sm btn-primary"
								href="@{Computadores.editar(computador.id)}"> <i
									class="glyphicon glyphicon-edit"></i>
							</a> <a class="btn btn-round-sm btn-danger"
								href="@{Computadores.remover(computador.id)}"> <i
									class="glyphicon glyphicon-trash"></i>
							</a></td>
						</tr>
						#{/list} #{else}
						<div class="alert alert-default">
						Nenhum computador cadastrado
						</div>
						#{/else}

					</tbody>
				</table>
			</div>
			<a href="@{Computadores.form}">
				<button type="button" class="btn btn-primary">Cadastrar</button>
			</a>
		</div>
	</div>